# =========================
# ENV FILES
# =========================
.env
.env.*
Backend/.env
Frontend/.env

# =========================
# NODE
# =========================
node_modules/
dist/
build/

# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# UPLOADS (DO NOT DEPLOY)
# =========================
Backend/uploads/
Backend/vector_store/

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/